@use './spinner.scss';
@use './start-screen.scss';

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #abbcbc;
}

div.underbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.underbar-item {
  margin: 0.5rem;
  display: inline-block;
}

.underbar-item.server-details {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #455;

  @media screen and (max-width: 510px) {
    font-size: 0.9em;
  }

  @media screen and (max-width: 376px) {
    font-size: 0.8em;
  }
}

div.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  max-width: 24rem;
}

span.player-info {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  // padding: 0.75em 1em;
  // margin: 0.35rem;
  font-size: 0.65em;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  opacity: 70%;

  margin: 0.1rem;
  padding: 0.24rem 0.36rem;
}

#invite-link {
  cursor: grab;
  transition: color 0.5s;
} 
#invite-link:hover {
  color: #677;
}
#invite-link:active {
  color: #64A;
}

button.menu-item {
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.9;
  color: #ececec;
  border: none;
  border-radius: 10em;
  padding: 0.6rem 0.9rem;
  font-size: 1.5em;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: bold;
  outline: none;

  -webkit-box-shadow: 0px 10px 55px 0px rgba(255,65,108,0.63);
  -moz-box-shadow: 0px 10px 55px 0px rgba(255,65,108,0.63);
  box-shadow: 0px 10px 55px 0px rgba(255,65,108,0.63);

  transition: opacity 0.2s, box-shadow 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }
}

div.room-bar {
  background-color: hsl(180, 11%, 50%);
  color: #cdcdcd;
  padding: 0.3rem 0.7rem;

  & > span.room-info {
    font-size: 0.7em;
  }
}

button.cell {
  margin: 0.3rem;
  width: 3em;
  height: 3em;
  font-size: 1.2em;
  display: inline-block;
  text-align: center;
  color: white;
  border: 2px solid #ececec;
  border-radius: 4px;
  opacity: 70%;

  transition: background-color 0.07s, font-size 0.07s;

  &:hover {
    opacity: 100%;
  }
  &.reacting {
    opacity: 50%;
    font-size: 1em;
  }
  &:disabled {
    background-color: black;
  }
  &:disabled:hover {
    opacity: 70%;
  }

  @media screen and (max-width: 510px) {
    margin: 0.1rem;
    width: 3em;
    height: 3em;
    font-size: 1.2em;
  }

  @media screen and (max-width: 444px) {
    margin: 0.1rem;
    width: 2.55em;
    height: 2.55em;
    font-size: 1.2em; 
  }
}

.board .board-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  min-width: 375px;
}

