div.vert-bar {
  border-left: 2px solid #9cb0b0;
  margin: 1rem 1rem;
}

div.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #abbcbc;
  
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%; 
  z-index: 10;
  top: 0; 
  left: 0;
}

div.menu-bar-start {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2.title-header {
  font-size: 4em;
  color: #233;
}

.menu-item {
  display: inline;
}